<div *ngIf="user && expenses">
    <h2>Annual Expenses</h2>
    <div *ngFor="let item of expenses.annualExpenses">
        <input [(ngModel)]="item.name" type="text">
        <input [(ngModel)]="item.value" type="number">
        <app-monthpicker [(selectedMonth)]="item.month"></app-monthpicker>
        <app-datepicker [(selectedDate)]="item.startDate"></app-datepicker>
        <app-datepicker [(selectedDate)]="item.endDate"></app-datepicker>
        <button (click)="removeExpense(expenses.annualExpenses, item)">Remove</button>
    </div>

    <h3>Operations</h3>
    <ul>
        <li><button (click)="addAnnualExpense()">Add Annual Expense</button></li>
        <li><button (click)="onSave()">Save</button>  <span *ngIf="saved">Saved!</span><span *ngIf="errorSaving">Error!</span></li>   
    </ul>
</div>