<div *ngIf="user && expenses">
    <h2>Hello {{expenses.user}}!</h2>

    <div *ngFor="let month of expenses.months">
        <h3>{{month.monthStart | date :'MMM y'}}</h3>

        <ul>
            <li><app-datepicker [(selectedDate)]="month.monthStart"></app-datepicker></li>
            <li><button (click)="removeMonth(month)">Remove Month</button></li>
        </ul>

        <div *ngIf="month.outgoings">
            <h3>Outgoings</h3>
            <div *ngFor="let item of month.outgoings">
                <input [(ngModel)]="item.name" type="text">
                <input [(ngModel)]="item.value" type="number">
                <button (click)="removeExpense(month.outgoings, item)">Remove</button>
            </div>
            <button (click)="addExpense(month.outgoings)">Add Outgoing</button>
        </div>
    
        <div *ngIf="month.income">
            <h3>Income</h3>
            <div *ngFor="let item of month.income">
                <input [(ngModel)]="item.name" type="text">
                <input [(ngModel)]="item.value" type="number">
                <button (click)="removeExpense(month.outgoings, item)">Remove</button>
            </div>
            <button (click)="addExpense(month.income)">Add Income</button>
        </div>
    </div>

    <h3>Operations</h3>
    <ul>
        <li><button (click)="addMonth()">Add Month</button></li>
        <li><button (click)="onSave()">Save</button>  <span *ngIf="saved">Saved!</span><span *ngIf="errorSaving">Error!</span></li>   
    </ul>
</div>