<div *ngIf="user && expenses">
    <h2>Hello {{expenses.user}}!</h2>

    <div *ngFor="let month of expenses.months">
        <h3>{{month.monthStart | date :'MMM y'}}</h3>

        <ul>
            <li><input [(ngModel)]="month.monthStart" type="date"></li>
            <li><button (click)="removeMonth(month)">Remove Month</button></li>
        </ul>

        <div *ngIf="month.outgoings">
            <h4>Outgoings</h4>
            <div *ngFor="let item of month.outgoings">
                <input [(ngModel)]="item.name" type="text">
                <input [(ngModel)]="item.value" type="number">
                <button (click)="removeExpense(month.outgoings, item)">Remove</button>
            </div>
            <button (click)="addExpense(month.outgoings)">Add Outgoing</button>
        </div>
    
        <div *ngIf="month.income">
            <h4>Income</h4>
            <div *ngFor="let item of month.income">
                <input [(ngModel)]="item.name" type="text">
                <input [(ngModel)]="item.value" type="number">
                <button (click)="removeExpense(month.outgoings, item)">Remove</button>
            </div>
            <button (click)="addExpense(month.income)">Add Income</button>
        </div>
    </div>

    <h4>Annual Expenses</h4>
    <div *ngFor="let item of expenses.annualExpenses">
        <input [(ngModel)]="item.name" type="text">
        <input [(ngModel)]="item.value" type="number">
        <app-monthpicker [(selectedMonth)]="item.month"></app-monthpicker>
        <button (click)="removeExpense(expenses.annualExpenses, item)">Remove</button>
    </div>
    <button (click)="addAnnuallExpense()">Add Annual Expense</button>

    <h4>Operations</h4>
    <ul>
        <li><button (click)="addMonth()">Add Month</button></li>
        <li><button (click)="onSave()">Save</button>  <span *ngIf="saved">Saved!</span><span *ngIf="errorSaving">Error!</span></li>   
    </ul>
</div>